ion-label {
  color: var(--ion-color-header-color);
  font-size: 12px;
}

ion-tab-bar {
  padding-top: 5px;
  padding-bottom: 70px;
}

.android-bar {
  padding-bottom: 100px;
}

.logo {
  width: 22px;
  margin-bottom: 5px;
}

.no-active {
  opacity: 0.3;
}
