<div class="topbar">
</div>
<div style="text-align: center;">
<img src="assets/news.svg" class="logo">
<img src="assets/free.svg" class="logo2">
</div>

<div class="title">GOOD NEWS!</div>
<div class="subtitle">
  Manna - Sermons for the Soul<br/> is now a <span class="text-sub">FREE APP!</span>
</div>
<div class="content">
  You can still get access to all of our<br/> powerful sermon content for no cost.<p><div class="text-sub">It looks like you currently have a paid<br/> subscription for your device.</div><p>Click the link below to cancel your paid<br/> subscription. Note that this does not affect<br/> your ability to use the Manna app. You'll still<br/> have access to the same great content!
</div>
<div class="actions">
<div class="cancel" (click)="cancelSubscription()">Cancel My Paid Subscription</div>

<div class="bottom">
  I want Manna for FREE!
</div>
</div>