<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841498643762-gg9p0ss0ndeapqc7l4m2cc6bn228qhrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841498643762-gg9p0ss0ndeapqc7l4m2cc6bn228qhrs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841498643762-06acmkd7eegd8d1si8q9qltrpvjoargg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHQ13MsTl3gY1KMsclvWC844NCQ3hcOI</string>
	<key>GCM_SENDER_ID</key>
	<string>841498643762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mannasermons.manna</string>
	<key>PROJECT_ID</key>
	<string>manna-328020</string>
	<key>STORAGE_BUCKET</key>
	<string>manna-328020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841498643762:ios:188beed4527c85f71d1b2b</string>
</dict>
</plist>