ion-grid {
  margin: 0 20px 0;
  padding: 0;
}

ion-row {
  display: flex;
  // align-items: center;
  // justify-content: center;
  height: 100%;
  position: relative;
  padding: 20px 0;
  border-bottom: solid 1px var(--badge-border);

  .flex-cont {
    display: flex;
    align-content: flex-start;

    & div {
      display: inline-block;
    }
  }

  ion-col {
    padding: 0;
  }

  .info {
    cursor: pointer;
  }

  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  p {
    margin: 10px 0 0;
    font-size: 13px;
  }

  [name="trash-outline"] {
    font-size: 24px;
  }
}

.img-cont {
  width: 106px;
  height: 60px;
  overflow: hidden;
}

.info-cont {
  width: calc(100% - 120px);
  padding-left: 15px;
  text-align: left;
}

.church-cont {
  padding-left: 0 !important;
}

.trash-cont {
  width: 38px;
  height: 38px;
  margin-top: 10px;
  padding: 8px;
  border: solid 1px var(--badge-border);
  background-color: #fff;
  border-radius: 50%;
}

.badge-div {
  color: var(--reg-tab-color);
  font-size: 13px;
  margin: 0 6px 0 0;
  padding: 1px 0px 0px 0px;
  border-radius: 17.5px;
  cursor: pointer;
  white-space: nowrap;
  border: solid 1px var(--badge-border);
  width: 75px;
  height: 23px;
  font-weight: bold;
  background: var(--badge-border);
  margin-top: 15px;
  margin-left: 20px;
}

.yellow-circle {
  width: 42px;
  height: 42px;
  border: solid 2px var(--yellow);

  .img-cont-person {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px var(--badge-border);
    background-color: #fff;

    & img {
      width: 14px;
      height: 14px;
      margin: 11px;
    }
  }
}
