<ion-content>
  <div class="logo">
    <img src="../../assets/img/manna.svg" alt="">
  </div>

  <h2 center>Log In</h2>
  <p class="login-msg lato">
    Please enter your information below.
  </p>

  <ion-input [(ngModel)]="userData.email"
             placeholder="Email"
             type="email"
  >
  </ion-input>

  <div class="input-cont">
    <ion-input [(ngModel)]="userData.password"
               placeholder="Password"
               [type]="isVisiblePass ? 'text' : 'password'"
    >
    </ion-input>

    <img *ngIf="isVisiblePass" src="../../assets/icon/eye.svg" (click)="togglePassVisible()">
    <img *ngIf="!isVisiblePass" src="../../assets/icon/eye-off.svg" (click)="togglePassVisible()">
  </div>
  <div class="must">Must be at least 6 characters</div>

  <ion-button class="login-btn" [disabled]="!isValid()" (click)="login()" color="btn-bg" expand="block">Log In</ion-button>

  <div class="forgot" (click)="gotoSignUp()">
    Sign up
  </div>

  <div class="forgot" (click)="gotoForgot()">
    Forgot Password?
  </div>

  <div class="or-cont">
    <span class="line"></span>
    or
    <span class="line"></span>
  </div>

  <ion-button *ngIf="isAppleSignVisible" color="black" expand="block" (click)="appleLogin()">
    <img class="badge" src="../../assets/icon/apple.svg" alt="">
    Sign in with Apple
  </ion-button>
  <ion-button color="light-blue" expand="block" (click)="googleLogin()">
    <img class="badge" src="../../assets/icon/google.svg" alt="">
    Sign in with Google
  </ion-button>
  <ion-button color="fb-color" expand="block" (click)="facebookLogin()">
    <img class="badge fb" src="../../assets/icon/fb_w.svg" alt="">
    Sign in with Facebook
  </ion-button>
</ion-content>