.ion-color-btn-cancel {
  --ion-color-base: var(--ion-color-btn-cancel);
  --ion-color-base-rgb: var(--ion-color-btn-cancel-rgb);
  --ion-color-contrast: var(--ion-color-btn-cancel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-btn-cancel-contrast-rgb);
  --ion-color-shade: var(--ion-color-btn-cancel-shade);
  --ion-color-tint: var(--ion-color-btn-cancel-tint);
}

.ion-color-header-color {
  --ion-color-base: var(--ion-color-header-color);
  --ion-color-base-rgb: var(--ion-color-header-color-rgb);
  --ion-color-contrast: var(--ion-color-header-color-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-color-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-color-shade);
  --ion-color-tint: var(--ion-color-header-color-tint);
}

.ion-color-btn-bg {
  --ion-color-base: var(--ion-color-btn-bg);
  --ion-color-base-rgb: var(--ion-color-btn-bg-rgb);
  --ion-color-contrast: var(--ion-color-btn-bg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-btn-bg-contrast-rgb);
  --ion-color-shade: var(--ion-color-btn-bg-shade);
  --ion-color-tint: var(--ion-color-btn-bg-tint);
}

.ion-color-fb-color {
  --ion-color-base: var(--ion-color-fb-color);
  --ion-color-base-rgb: var(--ion-color-fb-color-rgb);
  --ion-color-contrast: var(--ion-color-fb-color-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fb-color-contrast-rgb);
  --ion-color-shade: var(--ion-color-fb-color-shade);
  --ion-color-tint: var(--ion-color-fb-color-tint);
}

.ion-color-light-blue {
  --ion-color-base: var(--ion-color-light-blue);
  --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
  --ion-color-contrast: var(--ion-color-light-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-blue-shade);
  --ion-color-tint: var(--ion-color-light-blue-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-mid-grey {
  --ion-color-base: var(--ion-color-mid-grey);
  --ion-color-base-rgb: var(--ion-color-mid-grey-rgb);
  --ion-color-contrast: var(--ion-color-mid-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mid-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-mid-grey-shade);
  --ion-color-tint: var(--ion-color-mid-grey-tint);
}

.ion-color-eb {
  --ion-color-base: var(--ion-color-eb);
  --ion-color-base-rgb: var(--ion-color-eb-rgb);
  --ion-color-contrast: var(--ion-color-eb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-eb-contrast-rgb);
  --ion-color-shade: var(--ion-color-eb-shade);
  --ion-color-tint: var(--ion-color-eb-tint);
}

.ion-color-header-bg {
  --ion-color-base: var(--ion-color-header-bg);
  --ion-color-base-rgb: var(--ion-color-header-bg-rgb);
  --ion-color-contrast: var(--ion-color-header-bg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-header-bg-contrast-rgb);
  --ion-color-shade: var(--ion-color-header-bg-shade);
  --ion-color-tint: var(--ion-color-header-bg-tint);
}
