<div [id]="'player-'+counter"></div>

<!-- Skip Time Section -->
<div class="skip-sections-container" *ngIf="skipSections && skipSections.length">
  <div *ngFor="let section of skipSections; let i = index" class="time-point-wrapper">
    <div class="time-point-cont" (click)="skipToSection(section.time)" [style.backgroundImage]="'url(' + getThumbnailUrl() + ')'">
      <ion-icon name="play" color="light" size="small"></ion-icon>
    </div>
    <div class="text-div">
      <span class="label">{{ section.label }}</span>
      <span class="time">{{ section.start_time }}</span>
    </div>
  </div>
</div>
