ion-content {
  color: var(--ion-color-mid-grey);
  text-align: center;

  .logo {
    margin: 50% auto 0;
    width: 156px;
    height: 156px;
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

  .desc {
    margin: 0 38px 20px;
  }

  .exploring-btn {
    margin: 20px auto;
    width: 250px;
    min-width: 300px;
  }
}
